.forecast-container{
  display: flex;
  flex-wrap: wrap;
}

.forecast-item{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  min-width: max-content;
  width: 18%;
  border: solid 3px crimson;
  margin: 4px;
  border-radius: 4px;
}

.code-icon{
  width: 30px;
}

.header-span{
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap : 4px;
}
