<div class="container">
  <h2>meteo forecast</h2>
  <div class="forecast-container">
    <div class="forecast-item" *ngFor="let forecast of forecastArray">

      <span class="header-span"><img class="code-icon" src="{{forecast.code | codeIcon}}" alt=""> {{forecast.date}}</span>
      <span>temperature: {{forecast.temperature | unit: '° C'}}</span>
      <span>humidity: {{forecast.humidity | unit: '%'}}</span>
      <span>wind speed: {{forecast.windSpeed | unit: 'Km/h'}}</span>
      <span>wind direction: {{forecast.windDirection | unit: '° N'}}</span>
      <span>cloudiness: {{forecast.cloudCover | unit: '%'}}</span>
      <span>precipitation: {{forecast.rain | unit: 'mm'}}</span>
      <span>pressure: {{forecast.pressure | unit: 'hPa'}}</span>
    </div>
  </div>
</div>
